doctype html
html
  head
    title= title
    meta(charset="utf-8")
    link(rel='stylesheet', href='stylesheets/style.css')
    link(rel='stylesheet', href='stylesheets/normalize.css')
    script(src="javascripts/vendors/jquery-1.11.1.min.js")
    script(src="javascripts/vendors/handlebars-v1.3.0.js")
    script(src="javascripts/vendors/ember.min.js")
    script(src="build/javascripts/app.js")
  body
    block content